@import '../../../../../colors/palet.scss';
.containerRegister{
  position: relative;
  overflow: hidden;
  .vector1{
    position: absolute;
    width: 4000px;
    margin-bottom: 45px;
    path{
      fill:#6D06BF;

    }
  }
  .vector2{
    position: relative;
    width: 100%;
    z-index: -1;
    
  }
}