@import "src/colors/palet.scss";
@import "src/animations/main.scss";
.headerContainer {
  position: fixed;
  z-index: 3;
  width: 100%;
  padding: 0px 16rem;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    padding: 0px 20px;
    height: 50px;
  }
  .menu {
    .btnMenu {
      background-color: transparent;
      font-size: 3rem;
      display: flex;
      flex-direction: column;
      position: relative;

      width: 300px;
      align-items: flex-end;

      &::after {
        content: "";
        background-color: #930bff;
        position: absolute;
        bottom: 0;

        width: 100px;
        height: 3px;
      }
    }
    .nav-bar {
      display: block;
      position: absolute;
      width: 200px;
      border-radius: 10px;
      padding: 10px;
      align-items: center;
      position: absolute;
      z-index: 3;

      right: 200px;
      font-size: 2rem;
      &::after {
        animation: showMenu 500ms ease-in-out;
        transition: 200ms;
        content: "";
        background-color: white;
        border: 2px solid #930bff;
        position: absolute;
        top: 0;
        z-index: -1;
        box-shadow: 0px 4px 4px rgba(144, 5, 255, 0.67);
        width: 250px;
        height: 450px;
        border-radius: 6px;
        opacity: 0.8;
      }
      li {
        animation: showMenu 500ms ease-in-out;
        display: flex;
        width: 100%;
        margin-top: 40px;
        margin-left: 10px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
          color: #930bff;
        }
        i {
          text-align: center;
          align-items: center;
          font-size: 3rem;
          padding: 0px 10px;
        }
      }
    }
  }
  .containerDisconected{
    display: none;
  }
  .containerDisconected.active {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;

    .containerHide {
      position: absolute;
      z-index: -1;
      width: 50vw;
      height: 100%;
      background-color: $purple;
    }

    #left {
      left: 0;

      animation: disconectAnimationComponenteLeft 2s ease-in-out alternate-reverse forwards;
    }
    #right {
      right: 0;
    
      animation: disconectAnimationComponenteRight 2s ease-in-out alternate-reverse forwards;
    }
  }
}
