<header class="headerContainer">
  <a routerLink="/"
    ><img src="assets/img/header/logo.svg" alt="logo" class="logo"
  /></a>


  <nav class="menu" *ngIf="userAuthenticated">
    <button class="btnMenu" (click)="showMenu()">Menu</button>
    <nav class="nav-bar" *ngIf="menuShow">
      <ul class="p-0">
        <li class="items-nav">
          <i class="las la-plus"></i>
          <p routerLink="/NovaPergunta">Nova Pergunta</p>
        </li>
        <li class="items-nav">
          <i class="las la-comment-alt"></i>
          <p>Suas Perguntas</p>
        </li>
        <li class="items-nav">
          <i class="las la-users-cog"></i>
          <p>Configurações</p>
        </li>
        <li class="items-nav">
          <i class="las la-power-off"></i>
          <p (click)="disconnectUser()">Desconectar</p>
        </li>
      </ul>
    </nav>
  </nav>
  
</header>
