@import 'src/colors/palet.scss';
.inputForm{
  width: 100%;
  margin-bottom: 20px;
  .title-input{
    font-size: 3rem;
    margin-bottom: 5px;
  }
  #input{
    padding: 1.7rem;
    font-size: 2rem;
    border: none;
    background-color: $inputGrey;
    border-bottom: 3px  solid $purple;
  }
  .valid{
    width: 100%;
    margin-top: 0.8rem;
    font-size: 2em;
    color: #dc3545;
  }
}