@import ".../../../../../../../colors/palet.scss";
.footerContainer {
  width: 100%;
  height: 100%;
  background-color: $bg-footer;
  .content {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .logoSeven{
      margin-top: 40px;
      width: 250px;
    }
    .logoMoon{
      width: 150px;
    }
    .group-collum {
      .items-row {
        margin-top: 30px;
        color: white;
        font-weight: 100;
      }
    }
  }
  .container-coyright {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    .coyright {
      font-size: 1.8rem;
      color: white;
      text-align: right;
   
    }
  }
}
