<div class="containerVector">
  <img src="assets/img/footer/Vector-1.svg" alt="" class="vector1" />
  <img src="assets/img/footer/Vector-2.svg" alt="" class="vector2" />
</div>
<footer class="footerContainer">
  
  <div class="content">
    <img src="assets/img/footer/logoSeven.svg" alt="logo seven" class="logoSeven">
    <div class="group-collum">
      <h1 class="items-row">Pagina Incial</h1>
      <h1 class="items-row">Entrar</h1>
    </div>
    <div class="group-collum">
      <h1 class="items-row">Nova Pergunta</h1>
      <h1 class="items-row">Perguntas Recentes</h1>
    </div>
    <div class="group-collum">
      <h1 class="items-row">Política de Privacidade</h1>
      <h1 class="items-row">Fale Conosco</h1>
    </div>
    <img src="assets/img/footer/monsterMoon.svg" alt="" class="logoMoon">    
  </div>
  <div class="container-coyright ">
    <p class="coyright">
      © 2021 SevenDevz, Inc.
    </p>
  </div>
</footer>
